


  {% extends "baselayout.html" %}

  {% block title %} 
  
  Student Dashboard - Springfield Public School 
  
  {% endblock %}


  {% block content %}

  <!-- Main Content -->
  <div class="main-content">
    <h1>Welcome, {{ user.first_name }} (Student)</h1>

    <div class="cards">
      <div class="card">
        <h3>Latest Announcements</h3>
        <p>No new updates right now.</p>
      </div>
      <div class="card">
        <h3>Your Assignments</h3>
        <p>View or submit assignments here.</p>
      </div>
      <div class="card">
        <h3>Your Grades</h3>
        <p>Track your academic performance.</p>
      </div>
    </div>
  </div>
  {% endblock %}

